.divBan {
    margin-top: 50px;
    float:left;
}

.logoInitial {
    height: 12vh;
    width: 8vw;
    position: absolute;
    margin-left:20%;
    margin-top:-1%;
    float:right;
}

.divPrimary {
    margin-top: 8%;
}

.divSec {
    margin-top: 4%;
}

.voton {
    width: 14vh;
}

.cBtn {
    color: darkgray;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

.validacionField {
    margin-left: 2%;
    color: red;
    font-size: smaller;
    font-family: 'Times New Roman';
    display: none;
}

.lblMsj {
    margin-left: 2%;
    color: silver;
    font-size: smaller;
    font-family: 'Times New Roman';
}

.listBanner {
    color: white;
    font-size: 14px;
}

.imgCarnet{
    width:10vw;
    height:auto;
    float:right;
}

.imgQr {
    width: 25%;
    height: 35%;
    float: right;
}


    body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height:70%;
}

/* Modal Content */
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height:65%;
}

/* Modal Content */
.modal-content3 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 32%;
    height: 65%;
}

/* Modal Content */
.modal-content4 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    height: 48%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

header {
    background: #8E2DE2;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
}

/*estilos para la tabla*/
table th {
    background-color: #337ab7 !important;
    color: white;
}

table > tbody > tr > td {
    vertical-align: middle !important;
}

/*para alinear los botones y cuadro de busqueda*/
.btn-group, .btn-group-vertical {
    position: absolute !important;
}

.txtAst{
    width:50vw;
    height:50px;
}

textarea {
    resize: none;
}

.btn-group , .btn-group-vertical{
    position:absolute !important;
}

.tableH {
    background: #f7e406 !important;
}

