.divBan {
    margin-top: 70px;
    float:left;
}

.divPrimary {
    margin-top: 8%;
}

.divSec {
    margin-top: 4%;
}

.voton {
    width: 14vh;
}

.cBtn {
    color: darkgray;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

.lblMsj {
    margin-left: 2%;
    color: silver;
    font-size: smaller;
    font-family: 'Times New Roman';
}
