
@{
    ViewBag.Title = "Introduction";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/css/global.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="/Content/js/global.js" type="text/javascript"></script>

<div class="container-fuid" style="text-align:center;margin-top:0%;">
    <img id="logo" src="~/Content/image/logoTuIdentidad.jpg"  style="width:40vh;height:40vh;text-align:center;"  alt="No descarga imagen"> <br />
    <label id="textLogo" style="font-size:20px;font-weight:bold;"></label>
</div>


<script>
    $(document).ready(function () {
        document.documentElement.style.overflowX = 'hidden';
        OcultarMenu();
        //SerialImagen();
    });

/*var nueva = null;
    var n = 0;
    function SerialImagen() {
        var i = Math.floor(Math.random() * (6 - 0));
        CambioImagen(i);
        Stop();
        nueva = setInterval(SerialImagen, 1500);
    }

    function Stop() {
        clearTimeout(nueva);
    }

    function CambioImagen(v) {
        var srcI = ['../Content/image/biometric.JPG', '../Content/image/qrcode.JPG', '../Content/image/inventario.JPG', '../Content/image/biometric.JPG', '../Content/image/qrcode.JPG', '../Content/image/inventario.JPG'];
        var srcT = ['Sofware Biometrico', 'Lector Codigo QR', 'Gestor de Bibliotecas', 'Sofware Biometrico', 'Lector Codigo QR', 'Gestor de Bibliotecas'];

        $('#logo').attr('src', srcI[v]);
        $('#textLogo').html(srcT[v]);
    }*/
</script>