@{
    ViewBag.Title = "About";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/css/global.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="/Content/js/global.js" type="text/javascript"></script>

<div class="divBan container">
  
        <div class="col-md-4 container">
            <h4>    Alumno</h4>
            <input type="text" id="dni" name="dni" placeholder="Ingrese Documento de Identidad" required class="form-control" /><br />

            <input type="submit" id="buscar" value="Buscar" class="voton btn btn-primary"  onclick="BuscarCarnet();"/>
            <input type="reset" id="cancelar" value="Cancelar" onClick="NavePage('/Home/Index');" class="voton btn btn-primary" />
        </div>


    <div id="myModal" class="modal">
        <div class="modal-content">
            <span id="cerrar" class="close" onclick="CerrarModal();">&times;</span>
            <img id="carnet" class="imgCarnet" style="width:100%;height:90%;"   alt="No posee imagen"  >

        </div>
    </div>
</div>

<script>
  $(document).ready(function () {
        document.documentElement.style.overflowX = 'hidden';
        let respuesta = '@ViewBag.Response';
        if (respuesta != '') {
          alert(respuesta);
        }
  });


    function BuscarCarnet()
    {
      var dni = $('#dni').val();
        if (dni === '')
        {
           alert('Ingrese numero de documento de identidad');
           return false;
        }

        $('#carnet'). attr("src", "http://joselelu-001-site2.etempurl.com/digitalcard/" + dni + ".jpg");
        MostrarModal();
    }

  
function BuscarPersona() {
    var dni = $('#dni').val();

    if (dni === '') {
        alert('Ingrese numero de documento de identidad');
        return false;
    }

    $.ajax({
        type: "POST",
        url: "/Procesor/BuscarPersona",
        data: {dni: dni},
        datatype: "json",
        success: function (data) {
            console.log(data);
            if (data == "NO AUTORIZADO") {
                alert("Sesion expirada , debe volver a autentificarse")
                NavePage('/Home/Index')
            }
            try {
                var I = JSON.parse(data);
                $('#nombre').html(I.Nombre);
                $('#apellido').html(I.Apellido);
                $('#di').html(I.Dni);
                $('#matricula').html(I.Matricula);
                $('#grado').html(I.Grado);
                $('#grupo').html(I.Grupo);
                $('#rh').html(I.Rh);
                document.getElementById('alumno').setAttribute('src', 'data:image/png;base64,' + I.Foto);
                document.getElementById('qr').setAttribute('src', 'data:image/png;base64,' + I.Qr);
                MostrarModal();
            } catch(error){ alert('Numero documento identidad ' + dni + ' no encontrado');}
        
        },
        complete: function () {
   
            console.log('BUSCARPERSONA');
        }
    });
}
</script>
