
@{
    ViewBag.Title = "QueryAssistance";
}

<br />
<div class="row">
    <div class="offset-2 col-md-8">
        <div class="" id="searchDiv">
            <div class="row">
                <div class="col">
                    <select id="grado" class="form-control" onchange="LimpiarTituloConsolidado();"> </select>
                </div>
                <div class="col">
                    <select id="grupo" class="form-control" onchange="LimpiarTituloConsolidado();"></select>
                </div>
                <div class="col">
                    <select id="turno" class="form-control" onchange="LimpiarTituloConsolidado();"></select>
                </div>
                <div class="col">
                    <input type="button" id="buscar" value="Buscar" class="btn btn-primary" style="width:160px;" onclick="GetConsolidado();" />
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <br />
            <p id="pTitulo2" style="color:silver;"></p>
        </div>
    </div>

    <input type="hidden" id="tituloBusqueda2">
</div>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table id="tableConsolidado" class="display table table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Nª</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Dni</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <input type="hidden" id="initDataTable" />
</div>
<hr />

<div id="myModalEmail" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="width:630px;">
            <div class="modal-header">
                <h4 class="modal-title">Notificacion</h4>
                <button type="button" id="cerrarEmail" class="close" onclick="CerrarModalEmail();" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" id="di" />
                        <input type="hidden" id="name" />
                        <input type="hidden" id="lastName" />
                        <div class="form-group">
                            <label id="cce" style="color:deepskyblue"></label><br />
                        </div>
                        <div class="form-group">
                            <input type="text" id="asunto" placeholder="Ingrese Asunto" class="form form-control" />
                        </div>
                        <div class="form-group">
                            <textarea id="mensaje" rows="4" cols="50" placeholder="Ingrese Mensaje" maxlength="490" class="form form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline"><input type="checkbox" id="check" name="check" required class="btn btn-primary" />  Resumen de asistencia</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Enviar" class="btn btn-success" onclick="EnviarEmail();" />
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal " role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="width:660px;">
            <div class="modal-header">
                <h4 class="modal-title">Historial Asistencia</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="CerrarModalUpdate();">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="dniEstudiante" />
                <div class="row">
                    <div class="col-md-8">
                        <div class="table-responsive">
                            <table id="tableHistoria" class="display table table-bordered table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr class="tableH">
                                        <th>Nª</th>
                                        <th>Materia</th>
                                        <th>Inasistencias</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <label class="btn-danger" id="total"> </label>
                    </div>
                    <div class="col-md-4">
                        <input type="image" id="imgAlumno" class="imgCarnet" alt="El alumno no posee foto" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div id="myModalDetail" class="modal">
    <div class="modal-content5">
        <div style="float:right;">
            <span id="cerrarEmail" class="close" onclick="CerrarModalDetail();">&times;</span>
        </div><br />
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table id="tableInasistenciaDetail" class="display table table-bordered table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Nª</th>
                                    <th>Profesor</th>
                                    <th>Materia</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script>
        $(document).ready(function () {
            OcultarMenu();
            OcultarIcons();
            $('#footerPage').removeClass('footerPage');
            document.documentElement.style.overflowX = 'hidden';
            GetGrado();
            GetGrupo();
            $.noConflict();
        });
    </script>
}
