
@{
    ViewBag.Title = "ReportAssistance";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/css/global.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="/Content/js/global.js" type="text/javascript"></script>

<div class="container col-md-12" style="margin-top:5%;display:inline;">
   
    <div class="">
          <input type="date" id="fecha" name="fecha" value="" min="" max="" class="form-control"> 
         <select id="grado" class="form-control"> </select> 
         <select id="grupo" class="form-control"></select>


         <input type="button" id="buscar" value="Buscar"  class="btn btn-primary" style="width:120px;" onclick="GetAsistencia();"/>
    </div>

</div>
<script>
        $(document).ready(function () {
        document.documentElement.style.overflowX = 'hidden';
            GetGrado();
            GetGrupo();
    });
</script>