
@{
    ViewBag.Title = "ReportAssistance";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/css/global.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="/Content/js/global.js" type="text/javascript"></script>

<div class="container col-md-12" style="margin-top:5%;display:inline;">

    <div class="row" id="searchDiv">
        <div class="form-group">
            <div class="input-group">
                <input type="date" id="fecha" name="fecha" value="" min="" max="" class="form form-control" style="width:900px">
                <span class="input-group-addon" style="background-color:white;border-color:white;"> </span>
                <select id="grado" class="form-control" style="width:900px"> </select>
                <span class="input-group-addon" style="background-color:white;border-color:white;"> </span>
                <select id="grupo" class="form-control" style="width:900px"></select>
                <span class="input-group-addon" style="background-color:white;border-color:white;"> </span> &nbsp;&nbsp;&nbsp;
                <input type="button" id="buscar" value="Buscar" class="btn btn-primary" style="width:120px;" onclick="GetAsistencia();" />
            </div>
        </div>
    </div>


    <br /><br />
    <table id="tableAsistencia" class="table table-bordered table-hover myDataTable">

        <thead>
            <tr style="background-color:gainsboro;">
                <th onclick="SortTable(0)">Nª</th>
                <th onclick="SortTable(1)">Nombre</th>
                <th onclick="SortTable(2)">Apellido</th>
                <th onclick="SortTable(3)">Email</th>
                <th onclick="SortTable(4)">Materia</th>
                <th onclick="SortTable(5)">Estado</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>


    <div id="myModal" class="modal">
        <div class="modal-content2">
            <div style="float:right;">
                <span id="cerrar" class="close" onclick="CerrarModal();">&times;</span><br /><br />
            </div>
            <div style="text-align:center;"> <h4> Modificar Asistencia</h4></div>
            <div style="float:left;">
                <input type="text" id="dni" class="form form-control txtAst" disabled />
                <input type="text" id="email" class="form-control txtAst " disabled />
                <select id="asistencia" class="form-control">
                    <option value="0" selected disable> Seleccione estado... </option>
                    <option value="1"> Asistente </option>
                    <option value="2"> Inasistente </option>
                </select>
                <input type="text" id="materia" class="form-control" disabled />
                <input type="text" id="observacion" class="form-control" />
            </div>
            <div style="float:right">
                <img id="alumno" class="imgCarnet">
            </div>
        </div>
    </div>
</div>

<img id="foto" src="">


<script>
    $(document).ready(function () {
        document.documentElement.style.overflowX = 'hidden';
        GetGrado();
        GetGrupo();
    });
</script>
