
@{
    ViewBag.Title = "ReportAssistance";
}

<input type="hidden" id="tituloBusqueda1" />
<input type="hidden" id="initDataTable1" />
<br />
<div class="row">
    <div class="offset-1 col-md-10">
        <div class="row">
            <div class="col">
                <input type="date" id="fecha" name="fecha" value="" min="" max="" class="form form-control" onchange="LimpiarTituloAsistencia();">
                <span class="input-group-addon" style="background-color:white;border-color:white;"> </span>
            </div>
            <div class="col">
                <select id="gradoA" class="form-control" onchange="LimpiarTituloAsistencia();"> </select>
                <span class="input-group-addon" style="background-color:white;border-color:white;"> </span>
            </div>
            <div class="col">
                <select id="grupoA" class="form-control" onchange="LimpiarTituloAsistencia();"></select>
                <span class="input-group-addon" style="background-color:white;border-color:white;"> </span>
            </div>
            <div class="col">
                <select id="turnoA" class="form-control" onchange="LimpiarTituloAsistencia();"></select>
                <span class="input-group-addon" style="background-color:white;border-color:white;"> </span>
            </div>
            <div class="col">
                <input type="button" id="buscar" value="Buscar" class="btn btn-primary" onclick="GetAsistencia();" />
            </div>
        </div>
        <div class="text-center">
            <br />
            <p id="pTitulo1" style="color:silver;"></p>
        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table id="tableAsistencia" class="display table table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Nª</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Materia</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr />
<!-- Modal -->
<div id="myModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width:630px;">
            <div class="modal-header">
                <h4> Actualizar Asistencia</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="CerrarModalUpdate();">&times;</button>
                <input type="hidden" id="idAsistencia" />
                <input type="hidden" id="dniAdm" />

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label> Documento de Identidad: </label>
                            <input type="text" id="dni" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label> Correo Electronico: </label>
                            <input type="text" id="email" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label> Asignatura: </label>
                            <input type="text" id="materia" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label> Profesor: </label>
                            <input type="text" id="profesor" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label> Estado: </label>
                            <select id="asistencia" class="form-control">
                                <option value="1"> Asistente </option>
                                <option value="0"> Inasistente </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label> Observacion: </label><br />
                            <textarea id="observacion" rows="3" cols="50" maxlength="490" class="form-control" required autocomplete="on"> </textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img id="imgEstudiante" class="imgCarnet img-circle" alt="El alumno No posee foto">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Actualizar" class="btn btn-primary" style="width:10vw;" onclick="EditAtending();" />
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            OcultarMenu();
            OcultarIcons();
            $('#footerPage').removeClass('footerPage');
            document.documentElement.style.overflowX = 'hidden';
            GetDate('#fecha');
            GetGradoA();
            GetGrupoA();
            $.noConflict();
        });
    </script>
}
