
@{
    ViewBag.Title = "SERVICIOS";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/css/global.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="/Content/js/global.js" type="text/javascript"></script>

<div class="container-fuid" style="text-align:center;">

</div>

<script>
      $(document).ready(function () {

    });
</script>



