
@{
    ViewBag.Title = "SOPORTE";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/css/global.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="/Content/js/global.js" type="text/javascript"></script>

<div class="container-fuid" style="text-align:center;">
    <label class="form form-control" style="text-align:justify;border-style:none;">Ingresa email: </label>
    <input type="text" id="email" class="form form-control" style="width:40vw;" />

    <label class="form form-control" style="text-align:justify;border-style:none;">Elije un tema: </label>
    <select id="tema" name="tema" class="form form-control"> </select>

    <label class="form form-control" style="text-align:justify;border-style:none;">Escribe una pregunta: </label>
    <input type="text" id="pregunta" class="form form-control" style="width:40vw;" />
    <input type="submit" id="send" value="Enviar" class="form btn btn-primary" style="width:40vw;" onclick="SoporteMail();" />
    <br /><br />
</div>

<script>
      $(document).ready(function () {
        OcultarMenu();
        GetTemaSoporte();
        document.documentElement.style.overflowX = 'hidden';
    });
</script>

